<config>
    <modules>
        <Florian_Contact>
            <version>0.1.0</version>
        </Florian_Contact>
    </modules>
    <frontend>
        <routers>
            <contact>
                <use>standard</use>
                <args>
                    <module>Florian_Contact</module>
                    <frontName>contact</frontName>
                </args>
            </contact>
        </routers>
        <layout>
            <updates>
                <florian_contact>
                    <file>florian_contact.xml</file>
                </florian_contact>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <contact before="Mage_Adminhtml">Florian_Contact_Adminhtml</contact>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <contact>
                    <file>florian_contact.xml</file>
                </contact>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <blocks>
            <florian_contact>
                <class>Florian_Contact_Block</class>
            </florian_contact>
        </blocks>
        <models>
            <florian_contact>
                <class>Florian_Contact_Model</class>
                <resourceModel>florian_contact_resource</resourceModel>
            </florian_contact>
            <florian_contact_resource>
                <class>Florian_Contact_Model_Resource</class>
                <entities>
                    <contact>
                        <table>florian_contact</table>
                    </contact>
                </entities>
            </florian_contact_resource>
        </models>
        <resources>
            <!-- connection pour ecrire -->
            <florian_contact_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </florian_contact_write>
            <!-- connection pour lire-->
            <florian_contact_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </florian_contact_read>
        </resources>
    </global>
</config>